@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


/* - Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%) */


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 98%);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header > .logo {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

header > h4 {
    color: hsl(0, 0%, 41%);
    font-size: 16px;
    font-weight: 500;
    margin-top: 28px;
    padding-left: 20px;
}

header > h4:hover {
    color: hsl(0, 0%, 8%) ;
    cursor: pointer;
}

.about {
    padding-right: 600px;
}

header > img {
    width: 20px;
    margin-top: 31px;
}

ul {
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    margin-top: 28px;
    margin-right: 10px;
    display: inline-block;
    padding-left: 10px;
}

ul > li {
    display: none;
}

ul:hover {
    color: hsl(0, 0%, 8%) ;
    cursor: pointer;
}



#reg, #log {
    background-color: hsl(0, 0%, 98%);
    height: 40px;
    border-radius: 13px;
    margin-top: 17px;
    font-weight: 600;
    font-size: 15px;
    border: white;
    margin-right: 10px;
    color: hsl(0, 0%, 41%);
    
}

#reg {
    width: 130px;
    border: 2px solid hsl(0, 0%, 41%);
}

#log {
    width: 100px;
}


#reg:hover{
    border: 2px solid black;
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}

#log:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}


/* ................................................ */

.container {
    margin: 80px 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 823px;
}

.text {
    margin: 90px 100px 0px 100px;
    width: 450px;
}

.written > h1 {
    font-size: 4.5rem;
}

.written > h3 {
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    font-size: 18px;
    margin: 40px 40px 60px 0px;
}

.button > button{
    padding: 15px 35px 15px 35px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color:  hsl(0, 0%, 8%) ;
    color: hsl(0, 0%, 98%);
    border: none;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

/* .................................... */

.right-part {
    width: 150px;
}